/* Global */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  padding: auto;
}

body {
  min-height: 100%;
  box-sizing: border-box;
}

.section {
  display: flex;
}

/* Try Viewport */

@media all and (max-width:800) {
 
}

/* Banner */
.section-banner {
  flex-flow: column wrap;
  height: auto;

}

#banner-header {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

#banner-header a{
  margin: 10px;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  letter-spacing: 5px;
}

#banner-hero {
  background: url("../images/js.jpg") 0 0 no-repeat / cover;
  padding-bottom: 56.25%; /* height/width x 100% so when it resizes the padding always follow the img */
  height: 0;
  text-align: center;
  filter: grayscale(1);
}

/* About */

.section-about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: whitesmoke;
}

#about-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-avatar h3 {
  margin: 20px;
  font-family: Roboto;
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

#about-avatar img{
  margin: 1%;
  width: 100px;
  height: 100px;
  border: 1px solid whitesmoke;
  border-radius: 50%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

#about-text-box {
  margin: 10px 25%;
  padding: 1%;
}

#about-text-box p {
  text-align: justify;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 3%;
}

#about-text-box span {
  margin-left: 50px;
}

/* Main */
.section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
}

#main {
  margin: 20px;
}

#main > h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Roboto;
  letter-spacing: 2px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#main-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

#main-container a{
  font-family: Roboto;
  letter-spacing: 1px;
  font-size: 16px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 10px 10px 0px;
}

input[type="checkbox"] {
  margin-left: 25px;
  transform: scale(1.4);
}

#main-container div a:visited{
  color: black;
}

#main-container div:hover{
  text-shadow: 5px 2px 8px rgba(26, 0, 0, 0.9);
}

#main-post-script {
  align-self: flex-start;
  margin-left: 2%;
}

#main-post-script p, #main-post-script a{
  color: black;
  font-size: 10px;
  text-decoration: none;
}

#main-post-script a:hover, #main-post-script a:visited {
  color: black;
}

/* Footer */

footer {
  background-color: black;
  width: 100%;
  color: white;
}

footer div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2px;
  margin: 10px 0;
}

footer h3, footer h3 a, footer h3 a:hover, footer h3 a:visited {
  align-self: center;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

footer span a, footer span a:hover,  footer span a:visited {
  color: white;
  text-decoration: none;
}
